.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-page a {
  color: inherit;
}

#hero a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#hero .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#hero .hero-flex > .flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100vh - 5em);
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

#hero .hero-flex > .flex-left > .hero-major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  font-size: 7em;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#hero .hero-flex > .flex-left > .hero-minor {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  font-size: 3em;
  font-weight: 500;
  font-family: "Outfit";
  line-height: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 30px 0;
}

#hero .hero-flex > .flex-left > .hero-button {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 30px;
  border: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#hero .hero-flex > .flex-left > .hero-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

#hero .hero-flex > .flex-left > .hero-button:active {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#hero .hero-flex > .flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: calc(100vh - 5em);
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#hero .hero-flex > .flex-right > .logo-stars {
  display: block;
  position: relative;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#hero .hero-flex > .flex-right > .logo-stars > .hero-logo {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(79, 75, 218, 0.9));
          filter: drop-shadow(0px 0px 100px rgba(79, 75, 218, 0.9));
}

#hero .hero-flex > .flex-right > .logo-stars > .star {
  display: block;
  position: absolute;
  width: 40px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-filter: drop-shadow(0px 0px 50px #f3ae4a);
          filter: drop-shadow(0px 0px 50px #f3ae4a);
}

#hero .hero-flex > .flex-right > .logo-stars > .star-a {
  width: 40px;
  top: -20px;
  right: 40px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: StarRotateA 5s infinite;
          animation: StarRotateA 5s infinite;
}

#hero .hero-flex > .flex-right > .logo-stars > .star-b {
  width: 70px;
  top: -40px;
  right: -40px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: StarRotateA 5s infinite;
          animation: StarRotateA 5s infinite;
}

#hero .hero-flex > .flex-right > .logo-stars > .star-c {
  width: 40px;
  bottom: -10px;
  left: 40px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-animation: StarRotateB 5s infinite;
          animation: StarRotateB 5s infinite;
}

#hero .hero-flex > .flex-right > .logo-stars > .star-d {
  width: 80px;
  bottom: 0px;
  left: -40px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-animation: StarRotateB 5s infinite;
          animation: StarRotateB 5s infinite;
}

@-webkit-keyframes StarRotateA {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes StarRotateA {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes StarRotateB {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes StarRotateB {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

#about .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80%;
  padding: 100px;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .about-flex > .major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#about .about-flex > .mini {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: left;
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Outfit";
  line-height: 1.3em;
}

#whatis,
#whatis2 {
  margin: 100px 0;
}

#whatis .whatis-flex,
#whatis2 .whatis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80%;
  padding: 100px;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(217, 217, 217, 0.105);
  -webkit-box-shadow: inset 16.2733px -16.2733px 16.2733px rgba(182, 182, 182, 0.41), inset -16.2733px 16.2733px 16.2733px rgba(255, 255, 255, 0.41);
          box-shadow: inset 16.2733px -16.2733px 16.2733px rgba(182, 182, 182, 0.41), inset -16.2733px 16.2733px 16.2733px rgba(255, 255, 255, 0.41);
  -webkit-backdrop-filter: blur(110.659px);
          backdrop-filter: blur(110.659px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 102px;
}

#whatis .whatis-flex > .major,
#whatis2 .whatis-flex > .major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#whatis .whatis-flex > .mini,
#whatis2 .whatis-flex > .mini {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: left;
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Outfit";
  line-height: 1.3em;
}

#whenwhere .whenwhere-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80%;
  padding: 100px;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#whenwhere .whenwhere-flex > .major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#whenwhere .whenwhere-flex > .split-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

#whenwhere .whenwhere-flex > .split-flex > .mini {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  text-align: left;
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Outfit";
  line-height: 1.3em;
}

#whenwhere .whenwhere-flex > .split-flex > .map {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

#faq .faq-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#faq .faq-flex > .major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#speakers .speakers-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 96%;
  padding: 100px 0;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#speakers .speakers-flex > .major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#speakers .speakers-flex > .tri-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

#speakers .speakers-flex > .tri-flex > .speaker-card {
  display: block;
  position: relative;
  width: 30%;
  min-width: 200px;
  height: 500px;
  padding: 40px;
  padding-top: 0;
}

#speakers .speakers-flex > .tri-flex > .speaker-card > .speaker-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% - 70px);
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(217, 217, 217, 0.105);
  -webkit-box-shadow: inset 16.2733px -16.2733px 16.2733px rgba(182, 182, 182, 0.41), inset -16.2733px 16.2733px 16.2733px rgba(255, 255, 255, 0.41);
          box-shadow: inset 16.2733px -16.2733px 16.2733px rgba(182, 182, 182, 0.41), inset -16.2733px 16.2733px 16.2733px rgba(255, 255, 255, 0.41);
  -webkit-backdrop-filter: blur(110.659px);
          backdrop-filter: blur(110.659px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 52px;
}

#speakers .speakers-flex > .tri-flex > .speaker-card > img {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

#speakers .speakers-flex > .tri-flex > .speaker-card > .speaker-major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  font-family: "Outfit";
  line-height: 1em;
  margin: 30px 0;
}

#speakers .speakers-flex > .tri-flex > .speaker-card > .speaker-mini {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Outfit";
  line-height: 1.2em;
  margin: 30px 0;
}

#speakers .speakers-flex > .tri-flex > .card-down {
  margin-top: 80px;
}

#pastsponsors .pastsponsors-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 96%;
  padding: 100px 0;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#pastsponsors .pastsponsors-flex > .major {
  display: block;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 0.9em;
}

#pastsponsors .pastsponsors-flex > .sponsors-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(217, 217, 217, 0.1);
  -webkit-box-shadow: 0px 0px 200px 10px #312cc2;
          box-shadow: 0px 0px 200px 10px #312cc2;
  -webkit-backdrop-filter: blur(132.133px);
          backdrop-filter: blur(132.133px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 41px;
}

#pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

#pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row > .sponsor {
  display: block;
  position: relative;
  height: 80%;
  width: auto;
  padding: 10px;
}

#pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row-a {
  height: 200px;
}

#pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row-b {
  height: 140px;
}

#pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row-c {
  height: 140px;
}

@media only screen and (max-width: 1000px) {
  .home-page {
    font-size: 14px;
  }
  #hero .hero-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5em;
  }
  #hero .hero-flex > .flex-left {
    height: calc(50vh);
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #hero .hero-flex > .flex-right {
    height: calc(50vh - 5em);
    width: 60%;
  }
  #about .about-flex {
    padding: 100px 0;
  }
  #whatis .whatis-flex,
  #whatis2 .whatis-flex {
    width: 90%;
    padding: 100px 40px;
  }
  #whenwhere .whenwhere-flex {
    padding: 100px 0;
  }
  #pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row > .sponsor {
    padding: 5px;
  }
  #pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row-a {
    height: 80px;
  }
  #pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row-b {
    height: 60px;
  }
  #pastsponsors .pastsponsors-flex > .sponsors-flex > .sponsor-row-c {
    height: 60px;
  }
  #footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    font-size: 10px;
  }
}
/*# sourceMappingURL=Home.css.map */