.home-page {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    a {
        color: inherit;
    }
}

#hero {
    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    .hero-flex {
        display: flex;
        position: relative;
        width: 100%;
        height: fit-content;
        padding-top: 5em;

        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        > .flex-left {
            display: flex;
            position: relative;
            height: calc(100vh - 5em);
            width: 50%;
            // float: left;

            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            color: #fff;

            // border: 1px solid red;

            > .hero-major {
                display: block;
                position: relative;
                height: fit-content;
                width: fit-content;
                text-align: left;
                font-size: 7em;
                font-weight: 700;
                font-family: "Outfit";
                line-height: 0.9em;
            }
            > .hero-minor {
                display: block;
                position: relative;
                height: fit-content;
                width: fit-content;
                text-align: left;
                font-size: 3em;
                font-weight: 500;
                font-family: "Outfit";
                line-height: 0.9em;
                color: rgba(255, 255, 255, 0.8);
                margin: 10px 0 30px 0;
            }
            > .hero-button {
                display: block;
                position: relative;
                height: fit-content;
                width: fit-content;

                font-size: 1.5em;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.8);

                padding: 12px 30px;
                border: 6px solid rgba(255, 255, 255, 0.8);
                border-radius: 100px;
                transition: 0.3s all ease;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color: black;
                }
                &:active {
                    filter: brightness(0.8);
                }
            }
        }
        > .flex-right {
            display: flex;
            position: relative;
            height: calc(100vh - 5em);
            width: 50%;
            // float: right;

            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: #fff;
            > .logo-stars {
                display: block;
                position: relative;
                width: 80%;
                height: fit-content;
                > .hero-logo {
                    display: block;
                    position: relative;
                    height: auto;
                    width: 100%;
                    // width: 80%;

                    filter: drop-shadow(0px 0px 100px rgba(79, 75, 218, 0.9));
                }
                > .star {
                    display: block;
                    position: absolute;
                    width: 40px;
                    transition: 0.3s all ease;
                    filter: drop-shadow(0px 0px 50px #f3ae4a);
                }
                > .star-a {
                    width: 40px;
                    top: -20px;
                    right: 40px;
                    transform: rotate(15deg);
                    animation: StarRotateA 5s infinite;
                }
                > .star-b {
                    width: 70px;
                    top: -40px;
                    right: -40px;
                    transform: rotate(15deg);
                    animation: StarRotateA 5s infinite;
                }
                > .star-c {
                    width: 40px;
                    bottom: -10px;
                    left: 40px;
                    transform: rotate(-15deg);
                    animation: StarRotateB 5s infinite;
                }
                > .star-d {
                    width: 80px;
                    bottom: 0px;
                    left: -40px;
                    transform: rotate(-15deg);
                    animation: StarRotateB 5s infinite;
                }
            }
        }
    }
}

@keyframes StarRotateA {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}
@keyframes StarRotateB {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

#about {
    .about-flex {
        display: flex;
        position: relative;
        width: 80%;
        padding: 100px;
        margin: 0 auto;
        height: fit-content;
        margin: 0 auto;

        color: #fff;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        // border: 1px solid red;

        > .major {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: center;
            font-size: 3em;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: "Outfit";
            line-height: 0.9em;
        }
        > .mini {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: left;
            font-size: 1.3em;
            // margin: 30px 0;
            font-weight: 400;
            font-family: "Outfit";
            line-height: 1.3em;
        }
    }
}

#whatis,
#whatis2 {
    margin: 100px 0;
    .whatis-flex {
        display: flex;
        position: relative;
        width: 80%;
        padding: 100px;
        margin: 0 auto;
        height: fit-content;

        color: #fff;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        background: rgba(217, 217, 217, 0.105);
        box-shadow: inset 16.2733px -16.2733px 16.2733px rgba(182, 182, 182, 0.41),
            inset -16.2733px 16.2733px 16.2733px rgba(255, 255, 255, 0.41);
        backdrop-filter: blur(110.659px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 102px;

        // border: 1px solid red;

        > .major {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: center;
            font-size: 3em;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: "Outfit";
            line-height: 0.9em;
        }
        > .mini {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: left;
            font-size: 1.3em;
            // margin: 30px 0;
            font-weight: 400;
            font-family: "Outfit";
            line-height: 1.3em;
        }
    }
}

#whenwhere {
    .whenwhere-flex {
        display: flex;
        position: relative;
        width: 80%;
        padding: 100px;
        margin: 0 auto;
        height: fit-content;
        margin: 0 auto;

        color: #fff;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        // border: 1px solid red;

        > .major {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: center;
            font-size: 3em;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: "Outfit";
            line-height: 0.9em;
        }
        > .split-flex {
            display: flex;
            position: relative;
            height: fit-content;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;

            > .mini {
                display: block;
                position: relative;
                height: fit-content;
                width: 50%;
                text-align: left;
                font-size: 1.3em;
                // margin: 30px 0;
                font-weight: 400;
                font-family: "Outfit";
                line-height: 1.3em;
            }
            > .map {
                width: 50%;
                height: auto;
                border-radius: 50px;
            }
        }
    }
}

#faq {
    .faq-flex {
        display: flex;
        position: relative;
        width: 80%;
        padding: 100px 0;
        margin: 0 auto;
        height: fit-content;
        margin: 0 auto;

        color: #fff;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > .major {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: center;
            font-size: 3em;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: "Outfit";
            line-height: 0.9em;
        }
    }
}

#speakers {
    .speakers-flex {
        display: flex;
        position: relative;
        width: 96%;
        padding: 100px 0;
        margin: 0 auto;
        height: fit-content;
        margin: 0 auto;

        color: #fff;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > .major {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: center;
            font-size: 3em;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: "Outfit";
            line-height: 0.9em;
        }

        > .tri-flex {
            display: flex;
            position: relative;
            width: 100%;
            height: fit-content;

            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;

            > .speaker-card {
                display: block;
                position: relative;
                width: 30%;
                min-width: 200px;
                height: 500px;
                padding: 40px;
                padding-top: 0;

                > .speaker-bg {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: calc(100% - 70px);
                    bottom: 0;
                    left: 0;
                    z-index: -1;

                    background: rgba(217, 217, 217, 0.105);
                    box-shadow: inset 16.2733px -16.2733px 16.2733px rgba(182, 182, 182, 0.41),
                        inset -16.2733px 16.2733px 16.2733px rgba(255, 255, 255, 0.41);
                    backdrop-filter: blur(110.659px);
                    /* Note: backdrop-filter has minimal browser support */

                    border-radius: 52px;
                }
                > img {
                    display: block;
                    position: relative;
                    width: 80%;
                    margin: 0 auto;
                }
                > .speaker-major {
                    display: block;
                    position: relative;
                    height: fit-content;
                    width: 100%;
                    text-align: center;
                    font-size: 1.7em;
                    font-weight: 500;
                    font-family: "Outfit";
                    line-height: 1em;
                    margin: 30px 0;
                }
                > .speaker-mini {
                    display: block;
                    position: relative;
                    height: fit-content;
                    width: 100%;
                    text-align: left;
                    font-size: 1.2em;
                    font-weight: 500;
                    font-family: "Outfit";
                    line-height: 1.2em;
                    margin: 30px 0;
                }
            }
            > .card-down {
                margin-top: 80px;
            }
        }
    }
}

#pastsponsors {
    .pastsponsors-flex {
        display: flex;
        position: relative;
        width: 96%;
        padding: 100px 0;
        margin: 0 auto;
        height: fit-content;
        margin: 0 auto;

        color: #fff;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > .major {
            display: block;
            position: relative;
            height: fit-content;
            width: 100%;
            text-align: center;
            font-size: 3em;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: "Outfit";
            line-height: 0.9em;
        }
        > .sponsors-flex {
            display: flex;
            position: relative;
            width: 100%;
            padding: 40px;
            height: fit-content;

            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            background: rgba(217, 217, 217, 0.1);
            box-shadow: 0px 0px 200px 10px #312cc2;
            backdrop-filter: blur(132.133px);
            /* Note: backdrop-filter has minimal browser support */

            border-radius: 41px;

            > .sponsor-row {
                display: flex;
                position: relative;
                width: 100%;
                height: 150px;

                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 40px;

                // border: 1px solid red;

                > .sponsor {
                    display: block;
                    position: relative;
                    height: 80%;
                    width: auto;
                    padding: 10px;
                    // border: 1px dashed white;
                }
            }
            > .sponsor-row-a {
                height: 200px;
            }
            > .sponsor-row-b {
                height: 140px;
            }
            > .sponsor-row-c {
                height: 140px;
            }
        }
    }
}

//mobile
@media only screen and (max-width: 1000px) {
    .home-page {
        font-size: 14px;
    }
    #hero {
        .hero-flex {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 5em;
            > .flex-left {
                height: calc(50vh);
                padding: 0;
                width: fit-content;
                // overflow: hidden;
            }
            > .flex-right {
                height: calc(50vh - 5em);
                width: 60%;
                // overflow: hidden;
            }
        }
    }
    #about {
        .about-flex {
            padding: 100px 0;
        }
    }

    #whatis,
    #whatis2 {
        .whatis-flex {
            width: 90%;
            padding: 100px 40px;
        }
    }

    #whenwhere {
        .whenwhere-flex {
            padding: 100px 0;
        }
    }

    #pastsponsors {
        .pastsponsors-flex {
            > .sponsors-flex {
                > .sponsor-row {
                    > .sponsor {
                        padding: 5px;
                    }
                }
                > .sponsor-row-a {
                    height: 80px;
                }
                > .sponsor-row-b {
                    height: 60px;
                }
                > .sponsor-row-c {
                    height: 60px;
                }
            }
        }
    }

    #footer {
        font-size: 12px;
    }
}

//mobile
@media only screen and (max-width: 600px) {
    .home-page {
        font-size: 10px;
    }
}
